<!DOCTYPE html>
<html>
  <head>
    <title>A Voucherify example</title>
    <meta name="description" content="A Voucherify example">
    <link id="favicon" rel="icon" href="https://www.voucherify.io/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <section class="container">
        <h1>
          A Voucherify example
        </h1>
        <p>This example showcases <a href="http://docs.voucherify.io/docs/referral-program">Voucherify referral program</a>. We strongly recommend giving the tutorial a read to understand what is going on in this example.</p>
      </section>
    </header>

    <main>
      <section class="container">
        <h2>Get your referral link</h2>
        <p>
          When the referral criteria are met, the referrer will be rewarded with a coupon, if you wish to receive the coupon please put your email here</br>
          We strongly recommend using something like <em>your.email+somelabel@gmail.com</em></br>
          <span class="smaller-font">under the hood we are using AWS to send emails, so addresses like 10minutemail and so on might be filtered out and not receive the email</span>
        </p>
        <form>
          <fieldset><input id="email" type="email" placeholder="email (optional)"/></fieldset>
          <button id="generateReferralLinks">Generate links</button>
        </form>
        <div id="referralLinksContainer" class="hidden">
          <p>
            Every redemption of this referral gives you a reward gift voucher:</br>
            <a href="" target="_blank" id="rewardEveryRedemption"></a>
          </p>
        </div>
      </section>
    </main>

    <footer>
      <hr/>
      <section class="container">
        <div class="row">
          <div class="column">
            <a href="https://docs.voucherify.io/docs/" target="_blank">Learn more about Voucherify</a>
          </div>
          <div class="column" style="text-align: right">
            <a href="https://glitch.com/edit/#!/voucherify-referral-example" target="_blank">See the code</a>
          </div>
        </div>
      </section>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>

  </body>
</html>
