<!DOCTYPE html>
<html>
  <head>
    <title>Voucherify Webhooks Example</title>
    <meta name="description" content="A Voucherify Webhooks example">
    <link id="favicon" rel="icon" href="https://www.voucherify.io/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <section class="container">
        <h1>
          Voucherify Webhooks Example
        </h1>
        <p>This example showcases <a href="http://docs.voucherify.io/docs/webhooks" target="_blank">webhooks</a>. It will show how you can easily get information about redemptions and other events in your system.</p>
      </section>
    </header>

    <main>
      <section class="container">
        <h4>Setup the webhook in Voucherify</h4>
        <p>In your Voucherify Project Settings add webhook to https://voucherify-webhooks-example.glitch.me (preferably set it to notify about all events)</p>
        <figure>
          <caption>setup webhook in Project Settings</caption><br/>
          <img src="/webhook.png"/>
        </figure>
      </section>
      <hr/>
      <section class="container">
        <h4>Start with a code publish and redemption</h4>
        <p>
          This is optional, you can just use your voucherify account to generate events, but we can help you with this here.<br/>
          For this we need your Voucherify Application keys from your Project Settings and a campaign name of your choice.
        </p>
        <figure>
          <caption>get Voucherify API keys here</caption><br/>
          <img src="/api_keys.png"/>
        </figure>
        <fieldset>
          <label>
            Application ID
            <input id="api_key" type="text"/>
          </label>
          <label>
            Secret Key
            <input id="api_secret" type="text"/>
          </label>
        </fieldset>
        <fieldset>
          <label>
            Campaign Name
            <input id="campaign_name" type="text"/>
          </label>
        </fieldset>
        <button id="submitVoucherifyInfo" class="button">Submit</button>
      </section>
      <hr/>
      <section id="redemptionTeaser" class="container">
        <p>The code from yoru campaign will be published here! You will also be able to redeem it</p>
      </section>
      <section class="container hidden" id="redemption">
        <p>The code you are going to be using:<br/><h5><em id="code"></em></h5></p>
        <button id="redeem">Redeem</button>
      </section>
      <hr/>
      <section class="container">
        <h4>Webhook events will be shown here:</h4>
        <div id="webhookEvents"></div>
      </section>
    </main>

    <footer>
      <hr/>
      <section class="container">
        <div class="row">
          <div class="column">
            <a href="https://docs.voucherify.io/docs/" target="_blank">Learn more about Voucherify</a>
          </div>
          <div class="column" style="text-align: right">
            <a href="https://glitch.com/edit/#!/voucherify-webhooks-example" target="_blank">See the code</a>
          </div>
        </div>
      </section>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>

  </body>
</html>
