<!DOCTYPE html>
<html>
  <head>
    <title>Voucherify Redemption Webhooks Example</title>
    <meta name="description" content="A Voucherify Webhooks example">
    <link id="favicon" rel="icon" href="https://www.voucherify.io/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <section class="container">
        <h1>
          Voucherify Redemption Webhooks Example
        </h1>
        <p>This example showcases <a href="http://docs.voucherify.io/docs/webhooks">redemption webhooks</a>. It will show how you can easily get information about redemptions in your system.</p>
      </section>
    </header>

    <main>
    </main>

    <footer>
      <hr/>
      <section class="container">
        <div class="row">
          <div class="column">
            <a href="https://docs.voucherify.io/docs/" target="_blank">Learn more about Voucherify</a>
          </div>
          <div class="column" style="text-align: right">
            <a href="https://glitch.com/edit/#!/voucherify-redemption-webhooks-example" target="_blank">See the code</a>
          </div>
        </div>
      </section>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>

  </body>
</html>
