<!DOCTYPE html>
<html>
  <head>
    <title>A Voucherify example</title>
    <meta name="description" content="A Voucherify example">
    <link id="favicon" rel="icon" href="https://www.voucherify.io/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <section class="container">
        <h1>This is a second part of <a href="/">Voucherify example</a>.</h1>
        <p>This is where a person you referred gets their discount, redeem your referral coupon and you get rewards! (to be precise that depends on the <a href="https://docs.voucherify.io/docs/referral-program" target="_blank">referral reward criteria</a>)</p>
      </section>
    </header>

    <main class="hidden">
      <section class="container">
        <p>Hello! You've come here by the referral by <em id="referrer"></em>.</p>
      </section>

      <section class="container">
        Original price:<br/>
        <h5 class="originalPrice">$50</h5>
        Your price:<br/>
        <h5 id="discountedPrice"></h5>
      </section>
      <section class="container">
        <button id="redeem">Redeem with referral discount</button>
      </section>

      <section class="container">
        <p id="success" class="hidden">
          Congratulations! You have succesfully redeemed a referral code. If this code's referrer is eligible for a reward, they will be notified about it via an automatic email!
        </p>
      </section>
    </main>

    <footer>
      <hr/>
      <section class="container">
        <div class="row">
          <div class="column">
            <a href="https://docs.voucherify.io/docs/" target="_blank">Learn more about Voucherify</a>
          </div>
          <div class="column" style="text-align: right">
            <a href="https://glitch.com/edit/#!/voucherify-referral-example" target="_blank">See the code</a>
          </div>
        </div>
      </section>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/rspective/voucherify.js@latest/dist/voucherify.min.js"></script>
    <script src="/referral.js"></script>

  </body>
</html>
