body {
  padding-top: 0;
  margin-top: 0;
}

form {
  width: 400px;
  margin: 0 auto;
}

#exampleVouchers .row {
  margin-bottom: .5em;
}

#exampleVouchers .column span {
  border-radius: 5px;
  text-align: center;
  display: block;
  padding: .4em 0;
}

#exampleVouchers .column.active span {
  background-color: #08ffb9;  
}

#exampleVouchers .column.notActive span {
  background-color: #f8dffe;  
}

#loadingIndicator {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  animation: scaleOscillation 2s linear infinite;
}

@keyframes scaleOscillation {
  0%, 100% { transform: scale(1, 1); } 
  50% { transform: scale(.6, .6); } 
} 

#result {
  width: 100%;
  height: 2em;
  margin-bottom: 3em;
}

#result p {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 5px 5px;
  padding: .5em;
}

#result p.success {
  background-color: #08ffb9;
}

#result p.error {
  background-color: #f8dffe;
}

footer {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid #dfdfdf;
}
