form {
  width: 50%;
  margin: 2em auto;
}

.hidden {
  display: none;
}

.originalPrice {
  text-decoration: line-through;
  margin: .5em 0;
}

main .container, header .container {
  text-align: center;
}

.smaller-font {
  font-size: .8em;
}

.bigger-font {
  font-size: 1.3em;
}

.loading-indicator-wrapper {
  height: 150px;
  position: relative;
}

.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-indicator img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 50%;
  margin-top: -50%;
  left: 50%;
  margin-left: -15px;
  animation: pulse 2s linear infinite;
}

@keyframes pulse { 
  0%, 100% { transform: scale(1, 1); } 
  50% { transform: scale(.6, .6); } 
} 
